.coffeeEntryHorizCompContainer {
    display: flex;
    width: 100%;
    min-height: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.infoDivisionContainer {
    display: flex;
    flex: 2;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.mapViewContainer {
    display: flex;
    flex: 2;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.textStyle {
    margin-left: 0.5rem;
}

.textStyleBold {
    margin-left: 0.5rem;
    font-weight: bold;
}